<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <h1>入力</h1>
    <form method="POST" action="/result">
      <p>
        <textarea name="result" rows="10" cols="40"></textarea>
        <textarea name="result" rows="10" cols="40"></textarea>
        <textarea name="result" rows="10" cols="40"></textarea>
        <textarea name="result" rows="10" cols="40"></textarea>
        <textarea name="result" rows="10" cols="40"></textarea>
        <textarea name="result" rows="10" cols="40"></textarea>
        <textarea name="result" rows="10" cols="40"></textarea>
      </p>
      <p><input type="submit" value="送信" /></p>
    </form>
  </body>
</html>
